body {
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
form {
  padding: 5px;
  margin: 10px;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-variant-caps: all-small-caps;
  padding-top: 10px;
  padding-bottom: 20px;
}

ul {
  padding: 15;
  line-height: 20px;
}
li {
  list-style: none;
  font-size: 13px;
}
a {
  text-decoration: none;
}
h2 {
  color: rgb(245, 239, 239);
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
}
footer {
  font-family: "PT Mono", monospace;
  text-align: center;
  padding: auto;
}
.container {
  background-color: #a3a3a3;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

#search-form {
  margin: 5px;
}

#description {
  font-family: "dancing+script";
  font-weight: 600;
  font-size: 15px;
  font-style: italic;
  text-transform: capitalize;
  font-variant-caps: normal;
}
.button {
  color: white;
  border-color: white;
}
.weather-app-data {
  margin-left: 30px;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-icon {
  width: 85px;
  height: 85px;
}
.weather-app-temperature {
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  margin-top: 6px;
}

.weather-app-unit {
  font-size: 20px;
  margin-top: 6px;
}

.top-container {
  background-color: #e5e4e2;
  border-radius: 10px;
  line-height: 25px;
  padding: 5px;
  margin: 10px;
}
.form-control {
  background-color: #e5e4e2;
}

.day-forecast {
  background-color: #e5e4e2;
  border-radius: 10px;
  line-height: 25px;
  padding: 5px;
  margin: 10px;
}
.day-forecast-icon {
  width: 30px;
}
.day {
  font-size: 13px;
}
